<% provide(:title, 'ヘルプ - ') %>
<div class="hero-unit">
	<div class="title">
	<h2>ヘルプ</h2>

	</div>

	<div class="content">
	<p>
	Q. PICTCOLLECTはどういうサイトですか？
	</p>
	<p>
	A. 写真の共有を簡単にするサイトです。
	</p>
	<br />
	<p>
Q. どういうときに便利ですか？
</p>
	<p>
A. 普通にオンラインのフォトアルバムとして使えますが、特に1つのイベントでいろんな人が写真をとったあとに、写真を集める時にむいています。
  </p>
	<br />
	<p>
	Q. 写真の数やサイズに制限はありますか？
	</p>
	<p>
	A. 今のところ枚数には制限を設けていません。サイズは1枚20MBまででお願いします
	</p>
	<br />
	<p>
	Q. 使用料の発生や、スパムメールなどが発生しますか？
	</p>
	<p>
	A. 一切しません。
	</div>
	<br />
	<p>
	Q. 使い方を教えて下さい
	</p>
	<p>
	A. <a href='albums/1'>こちら</a>を御覧ください(編集中)
	</div>
	
</div>
