<% provide(:title, 'サイトポリシー - ') %>

<div class="hero-unit">
	<div class="title">
	<h2>サイトポリシー</h2>

	</div>

	<div class="content">
	<ul>
      <li>本サイトは個人の趣味で運営しているものであり、データの保管や流出に関して一切責任を持ちません</li>
	  <ul>
	    <li>FacebookやGoogle+よりはセキュリティのレベルが高いです
	  </ul>
      <li>本サイトに違法性のある写真のアップロードは禁止しております。違反している写真を見つけた場合、警告なしに削除することをご了解ください</li>
	</ul>
	</div>
	
</div>
