<div class="hero-unit">

<div class="content">
<% if @mail_sent then %>
メッセージの送信が完了いたしました。
ありがとうございました。
<% else %>
メッセージの送信に失敗しました。
システムが復旧するまでしばらくお待ちください。
<% end %>
<br />
<%= link_to 'ホーム', root_path %>へ戻る
</div>
</div>

