<% provide(:title, 'お問い合わせ - ') %>

<% if request.smart_phone? %>
  <h2>お問い合せフォーム</h2>
<% else %>
  <h1>お問い合せフォーム</h1>
<% end %>

<div class="hero-unit">

	<div class="content">
	※ 以下の項目すべてにご記入ください
	<%= render 'form' %>
	</div>
	
</div>
