<li>
  <span class="name"><%= link_to album.name, album %></span>
  <span class="content"><%= album.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(album.created_at) %> ago.
  </span>
	<span class="btn">
	<%= link_to "削除", album, method: :delete, data: { confirm: "このアルバムを削除します"}, title: album.id %>
	</span>
</li>
