<% provide(:title, 'Edit Album - ') %>
<% if request.smart_phone? %>
  <h2>アルバム編集</h2>
<% else %>
  <h1>アルバム編集</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'アルバム閲覧', @album, class: "btn btn-link" %> |
<%= link_to 'アルバムリスト', albums_path, class: "btn btn-link" %>
