<% provide(:title, 'Album List - ') %>
<h1>アルバムリスト</h1>

<% if request.smart_phone? %>
  <%= will_paginate @albums, :page_links => false %>
<% else %>
  <%= will_paginate @albums %>
<% end %>
<ul class="albums">
  <% @albums.each do |album| %>
    <%= render album %>
    <br />
  <% end %>
</ul>

</div>

