<% provide(:title, 'Album List - ') %>
<% if request.smart_phone? %>
  <h2>アルバムリスト</h2>
<% else %>
  <h1>アルバムリスト</h1>
<% end %>

<% if request.smart_phone? %>
  <%= will_paginate @albums, :page_links => false %>
<% else %>
  <%= will_paginate @albums %>
<% end %>
<ul class="albums">
  <% @albums.each do |album| %>
    <%= render album %>
    <br />
  <% end %>
</ul>

</div>

