<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "News", 'http://twitter.com/pictcollect' %></li>
      <li><%= link_to "Policy", policy_path %></li>
      <li><%= link_to "Contact", '/requests/new' %></li>
    </ul>
  </nav>
</footer>
