<footer class="footer">
  <nav>
		  Copyright &copy; pictcollect.link All Rights Reserved.
    <ul>
      <li><%= link_to "お知らせ", 'http://twitter.com/pictcollect' %></li>
      <li><%= link_to "ポリシー", policy_path %></li>
      <li><%= link_to "コンタクト", '/requests/new' %></li>
    </ul>
  </nav>
</footer>
